<%- include('partials/header.ejs'); %>
<link rel="stylesheet" href="/css/quizeCss.css" />


    <!--========== Quiz ==========-->

    <div class="quiz-container" id="quiz">
      <form action="/check" method="post">
      <div class="quiz-header">
        <h2 id="question"><%- paginas[index].quote%></h2>
        <ul>
          <h3 id="character-feeld">Mogelijke character</h3>
          <li id="awnsers-container">
            <input type="radio" name="awnser" id="a" class="awnser" 
            value="<%= paginas[index].opties[0]%>"/>
            <label for="a" id="a_text"><%= paginas[index].opties[0]%></label>
          </li>

          <li>
            <input type="radio" name="awnser" id="b" class="awnser"
            value="<%= paginas[index].opties[1]%>" />
            <label for="b" id="b_text"><%= paginas[index].opties[1]%></label>
          </li>

          <li>
            <input type="radio" name="awnser" id="c" class="awnser"
            value="<%= paginas[index].opties[2]%>" />
            <label for="c" id="c_text"><%= paginas[index].opties[2]%></label>
          </li>
          <br />
        </ul>
      </div>
      <input type="submit" id="submit" value="volgende"></input>
    </form>
    </div>

    <!--========== MAIN JS ==========-->
<script src="/js/main.js"></script>
</body>
</html>
